﻿<ul>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-bridges-abnormals">Macaw's Bridges - Abnormals (by Samlegamer_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/xaeros-minimap-modded-support">Xaero's Minimap - Modded Support (by babybluetit)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/alexs-delight">Alex's Delight (by NCP_Bails)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cavebiomeapi">CaveBiomeAPI [Forge] (by blackgear27)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/just-enough-resources-jer">Just Enough Resources (JER) (by way2muchnoise)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/serene-seasons">Serene Seasons (by TheAdubbz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/shutup-experimental-settings">Shutup Experimental Settings! (by Corgi_Taco)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/create">Create (by simibubi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/polymorph">Polymorph (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/customizable-elytra">Customizable Elytra (by Hidoni)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/in-control">In Control! (by McJty)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cosmetic-armor-reworked">Cosmetic Armor Reworked (by LainMI)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/secretroomsmod">SecretRoomsMod (by AbrarSyed)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/easy-magic">Easy Magic [Forge] (by Fuzs_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/no-potion-offset">No Potion Offset (Fabric/Forge) (by shedaniel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/the-abyss-chapter-ii">The Abyss II - The Other Side (by y4z0n)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/bayou-blues">Bayou Blues (by team_aurora_modding)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/abundance">Abundance (by team_aurora_modding)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/scorge">Scorge (by illyohs)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tetra">Tetra (by mickelus)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ftb-library-forge">FTB Library (Forge) (by FTB)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-fences-oh-the-biomes-youll-go">Macaw's Fences - Oh The Biomes You'll Go (by Samlegamer_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/snow-real-magic">Snow! Real Magic! ⛄ (Forge) (by Snownee_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fancymenu-forge">FancyMenu [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/spark">spark (by Iucko)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ftb-teams-forge">FTB Teams (Forge) (by FTB)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/visual-workbench">Visual Workbench [Forge] (by Fuzs_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/enhanced-celestials">Enhanced Celestials - Blood, Blue, & Harvest (Super) Moons (by Corgi_Taco)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fastfurnace-minus-replacement">Fast Furnace minus Replacement (by tfarecnim)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-fps-render-distance">Better Fps - Render Distance[Forge] (by someaddon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/kiwi">Kiwi 🥝 (Forge) (by Snownee_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-biome-blend">Better Biome Blend (by FionaTheMortal)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/caves-cliffs-backport-additions">Caves & Cliffs Backport (Additions) (by jukittita)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/decorative-blocks-modded-compat">Decorative Blocks modded compat (by Evo_934)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight-cookbook-addon">Farmer's Delight Cookbook Addon [0.4 is the last update] (by dalumma)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/blueprint">Blueprint (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/alexs-abnormalities">Alex's Abnormalities (by NCP_Bails)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-integration">Project Red - Integration (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-illumination">Project Red - Illumination (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tenshilib">TenshiLib (by flemmli97)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cleancut">CleanCut (by Rongmario)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/extended-caves">Extended Caves (by Polyvalord)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-bridges-oh-the-biomes-youll-go">Macaw's Bridges - Oh The Biomes You'll Go (by Samlegamer_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/skin-layers-3d">Skin Layers 3D (Fabric/Forge) (by tr9zw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/placebo">Placebo (by Shadows_of_Fire)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/flywheel">Flywheel (by jozufozu)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ore-tweaker">Ore Tweaker (by EwyBoy)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-advancements">Better Advancements (by way2muchnoise)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/auudio-forge">Auudio [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-bridges-bayou-blues">Macaw's Bridges - Bayou Blues (by Samlegamer_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/create-chunkloading">Create Chunkloading (by embeddedt)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/bookshelf">Bookshelf (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/voidtotem">Void Totem (Forge) (by Affehund)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/infernal-expansion">Infernal Expansion (by InfernalStudios)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chunknogobyebye">ChunkNoGoByeBye (by LexManos)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/enchant-with-mob">Enchant With Mob (by bagu_chan500)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-mods-button">Better Mods Button (by Fuzs_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dramatic-doors">Dramatic Doors (by FizzWare)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/create-deco">Create Deco (by talrey)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dynamic-view">Dynamic View[Forge] (by someaddon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dark-paintings">Dark Paintings (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ai-improvements">AI Improvements (by QueenOfMissiles)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tellme">TellMe (by masady)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/spartan-weaponry">Spartan Weaponry (by ObliviousSpartan)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-api">YUNG's API (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/corpse">Corpse (by henkelmax)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/environmental">Environmental (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/autumnity">Autumnity (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cut-and-colored">Cut And Colored (by MincraftEinstein)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/two-players-one-horse">Two Players One Horse (by Beethoven92)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ice-and-fire-dragons">Ice and Fire: Dragons (by sbom_xela)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/rhino">Rhino (by LatvianModder)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/carry-on">Carry On (by Tschipp)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/chipped">Chipped (by terrariumearth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/remove-potions-icons">Remove Potions Icons (by 00theblackwolf00)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/curious-elytra">Curious Elytra (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/expanvils">Experienced Anvils (by Gluton)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/curios">Curios API (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/xks-decoration">XK's Decoration (by xekr)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/caves-and-cliffs-backport">Caves & Cliffs Backport (by blackgear27)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/improved-mobs">Improved Mobs (by flemmli97)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dungeon-crawl">Dungeon Crawl (by xiroc_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ctm">ConnectedTexturesMod (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/twilight-tweaks">Twilight Tweaks (by jodlodi)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/crafttweaker">CraftTweaker (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/snow-under-trees">Snow Under Trees (by bl4ckscor3)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/einsteins-library">Einstein's Library (by MincraftEinstein)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/oh-the-biomes-youll-go">Oh The Biomes You'll Go (by AOCAWOL)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-bridges">Macaw's Bridges (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight">Farmer's Delight (by vectorwing)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/travelers-titles">Traveler's Titles (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/quark">Quark (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/autoreglib">AutoRegLib (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/configured">Configured (by MrCrayfish)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-furniture">Macaw's Furniture (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/nourished-nether">Nourished Nether (by MuffinsDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/architectury-api">Architectury API (Fabric/Forge) (by shedaniel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/paintings">Paintings ++ (by AbsolemJackdaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mantle">Mantle (by mDiyo)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/falling-leaves-forge">Falling Leaves (Forge) (by Cheaterpaul)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-world-map">Xaero's World Map (by xaero96)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/better-burning">Better Burning (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/spartan-weaponry-ice-and-fire">Spartan Weaponry: Ice and Fire (by kreloxcz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-paths-and-pavings">Macaw's Paths and Pavings (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/azuredooms-angel-ring">AzureDooms Angel Ring (by AzureDoomC)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/puzzles-lib">Puzzles Lib (by Fuzs_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/controlling">Controlling (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/farsighted-mobs-forge">Farsighted Mobs (Forge) (by Sindarin27)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/improvedbackpacks">Improved Backpacks (by DreenDexTwitch)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/falling-tree">FallingTree (Forge&Fabric) (by RakSrinaNa)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/illagers-wear-armor">Illagers Wear Armor (by almightytallestred)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-mineshafts-forge">YUNG's Better Mineshafts (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/enchantment-descriptions">Enchantment Descriptions (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/simple-world-timer">Simple World Timer (by FoxAhead)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ftb-quests-forge">FTB Quests (Forge) (by FTB)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-core">Project Red - Core (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/attributefix">AttributeFix (by DarkhaxDev)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/load-my-resources-forge">Load My Resources [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/lootr">Lootr (Forge) (by Noobanidus)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/tetranomicon">Tetranomicon (by syrikalis)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/konkrete">Konkrete [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/atmospheric">Atmospheric (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ferritecore">FerriteCore (Forge) (by malte0811)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/doggy-talents">Doggy Talents (by percivalalb)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mod-name-tooltip">Mod Name Tooltip (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/selene">Moonlight Lib (by MehVahdJukaar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ars-nouveau">Ars Nouveau (by baileyholl2)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/appleskin">AppleSkin (by squeek502)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/audio-extension-for-fancymenu-forge">Audio Extension for FancyMenu [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/simple-shops">Simple Shops (by wolforce)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/soundtrack-discs">Soundtrack Discs (by thenamesnano)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fast-leaf-decay">Fast Leaf Decay (by olafskiii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/guard-villagers">Guard Villagers (by almightytallestred)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jei">Just Enough Items (JEI) (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/double-slabs">Double Slabs (by CJMinecraft01)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/the-twilight-forest">The Twilight Forest (by Benimatic)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fastworkbench-minus-replacement">FastWorkbench Minus Replacement (by tfarecnim)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/customfence">Custom fences and walls (by theradiantraptor)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cloth-config">Cloth Config API (Fabric/Forge) (by shedaniel)</a></li>
<li><a href="https://www.curseforge.com/minecraft/texture-packs/created-storage-network">Created Simple Storage Network (by makzzin)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-windows">Macaw's Windows (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/entityculling">Entity Culling Fabric/Forge (by tr9zw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/blur">Blur (by tterrag1098)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/overloaded-armor-bar">Overloaded Armor Bar (by tfarecnim)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/caelus">Caelus API (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/no-default-auto-jump">No Default Auto-Jump (by Dark_Arcana)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/patchouli">Patchouli (by Vazkii)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/faster-ladder-climbing">Faster Ladder Climbing (by maddachshund)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/artifacts">Artifacts (by ochotonida)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/trading-post">Trading Post [Forge] (by Fuzs_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-doors">Macaw's Doors (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/drippy-loading-screen">Drippy Loading Screen [Forge] (by Keksuccino)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/loot-beams">Loot Beams (by shiroroku)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mutil">mutil (by mickelus)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/performant">Performant (by someaddon)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/farmers-delight-compats">Farmer's Delight Compats (by burritoeatinghamster)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-trapdoors">Macaw's Trapdoors (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/alexs-mobs">Alex's Mobs (by sbom_xela)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ice-and-fire-tweaker">Ice And Fire Tweaker (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/supplementaries">Supplementaries (by MehVahdJukaar)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/abnormals-delight">Abnormals Delight (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/createtweaker">CreateTweaker (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/project-red-transmission">Project Red - Transmission (by MrTJP)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/decorative-blocks">Decorative Blocks (by stohun)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/yungs-better-strongholds">YUNG's Better Strongholds (Forge) (by YUNGNICKYOUNG)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/mouse-tweaks">Mouse Tweaks (by YaLTeR)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/itemzoom">ItemZoom (by mezz)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/ice-and-fire-dragonseeker">Ice and Fire: Dragonseeker (by syrikalis)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/upgrade-aquatic">Upgrade Aquatic (by TeamAbnormals)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/inspirations">Inspirations (by KnightMiner)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/storage-drawers">Storage Drawers (by Texelsaur)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/dynamic-surroundings">Dynamic Surroundings (by OreCruncher)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/charm-of-undying">Charm of Undying (Forge) (by TheIllusiveC4)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/clumps">Clumps (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/geckolib">GeckoLib (by ThanosGecko)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-lights-and-lamps">Macaw's Lights and Lamps (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/xaeros-minimap">Xaero's Minimap (by xaero96)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/architects-palette">Architect's Palette (by Jsburg)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/fairy-lights">Fairy Lights (by pau101)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/citadel">Citadel (by sbom_xela)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/codechicken-lib-1-8">CodeChicken Lib 1.8.+ (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/trashslot">TrashSlot (by BlayTheNinth)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/macaws-fences-and-walls">Macaw's Fences and Walls (by sketch_macaw)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/natures-compass">Nature's Compass (by Chaosyr)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/expandability">ExpandAbility (by florensie)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/exotic-birds">Exotic Birds (by ThePavoReality)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/cb-multipart">CB Multipart (by covers1624)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/item-filters">Item Filters (by LatvianModder)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jeitweaker">JEITweaker (by Jaredlll08)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/jade">Jade 🔍 (by Snownee_)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/betterend-forge-port">BetterEnd (Forge) (by Beethoven92)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/spiders-2-0">Spiders 2.0 (by TheCyberBrick)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/orcinuss-caves">Orcinus's Caves (by orcinus73)</a></li>
<li><a href="https://www.curseforge.com/minecraft/mc-mods/create-alloyed">Create: Alloyed (by MythrilBagels)</a></li>
</ul>
